/* .pagination {
  list-style-type: none;
  display: flex;
  gap: 10px;
} */
.pagination li {
  display: inline;
}
.pagination a {
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #007BFF;
}
.pagination a:hover {
  background-color: #f1f1f1;
}
.pagination .active a {
  background-color: #007BFF;
  color: white;
}