version: "3.9"

services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: mediamtx
    restart: unless-stopped

    ports:
      - "8554:8554" # RTSP
      - "8888:8888" # HLS
      - "8889:8889" # WebRTC (HTTP)
      - "8189:8189/udp" # WebRTC (ICE / UDP)

    volumes:
      - C:/mediamtx/mediamtx.yml:/mediamtx.yml
